* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #616070;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

p {
  margin: 0;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px #0000000d;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  display: flex;
}

.header__logo {
  width: 40px;
  height: 40px;
  display: block;
}

.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav-menu__item {
  align-items: center;
  display: flex;
}

.nav-menu__item:not(:last-child) {
  margin-right: 20px;
}

.nav-menu__link {
  color: #060b35;
  text-transform: uppercase;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease-in-out;
  display: inline-flex;
}

.nav-menu__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}

.product-cards {
  --column-count: 1;
  padding: 50px 40px;
}

.product-cards__container {
  grid-template-columns: repeat(var(--column-count), 1fr);
  justify-items: center;
  gap: 46px 48px;
  max-width: 944px;
  margin-inline: auto;
  display: grid;
}

@media (width >= 488px) {
  .product-cards__container {
    --column-count: 2;
  }
}

@media (width >= 768px) {
  .product-cards__container {
    --column-count: 3;
  }
}

@media (width >= 1024px) {
  .product-cards__container {
    --column-count: 4;
  }
}

.product-card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  display: flex;
}

.product-card__img {
  align-self: center;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.product-card__title {
  color: #060b35;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: color .3s ease-in-out;
}

.product-card:hover .product-card__title {
  color: #34568b;
}

.product-card__id {
  margin-bottom: 16px;
}

.product-card__reviews {
  justify-content: space-between;
  margin-bottom: 24px;
  display: flex;
}

.product-card__reviews-count {
  color: #060b35;
  align-self: flex-end;
}

.product-card__price {
  margin-bottom: 16px;
}

.product-card__button {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #00acdc;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  transition: background-color .3s ease-in-out;
}

.product-card__button:hover {
  color: #00acdc;
  background-color: #fff;
}

.stars {
  gap: 4px;
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars__star:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
}

.price {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.price__title {
  font-size: 12px;
  line-height: 18px;
}

.price__value {
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
/*# sourceMappingURL=index.e378193d.css.map */
